/* Common Styles or utilities */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
}

.section-title {
  color: #562eff;
  font-size: 24px;
  margin-bottom: 30px;
}

/* Top Players Styles */

.top-players {
  margin-bottom: 30px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}

.player {
  display: flex;
  align-items: center;
}

.player img {
  width: 56px;
  height: 56px;
}

.player-name {
  margin-left: 16px;
  font-size: 18px;
}

hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 30px;
}

/* Top Blogs Styles */

.blog {
  display: flex;
}

.blog .thumbnail img {
  width: 177px;
  height: 117px;
}

.blog-info {
  margin-left: 16px;
  margin-top: 5px;
}

.blog-title {
  font-size: 20px;
}

.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}

.blog-author a {
  text-decoration: none;
  font-size: 16px;
  color: #562eff;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 26px;
}

/* Courses Styles */

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}

.course {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 15px;
  border-radius: 10px;
}

.course .course-banner img {
  /* width: 224px;
  height: 104px; */
  /* text-align: center; */
  width: 100%;
}

.course-title {
  font-size: 16px;
}

.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-star {
  font-size: 12px;
}

.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}

.ratings span {
  color: #a2a2a2;
  font-size: 14px;
}

.course-duration {
  background-color: #ffe4e8;
  color: #ff4a60;
  border-radius: 15px;
  padding: 4px 5px;
  font-size: 14px;
}

/* Media Queries */

@media screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }

  .player,
  .blog {
    flex-direction: column;
  }
}

@media screen and (min-width: 688px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .players,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
}
